backups/n8n/Sending data to RabbitMQ.json
{
  "name": "Sending data to RabbitMQ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-webform",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b91c9b57-86fe-4c1a-a222-d89aff6a9992",
      "name": "Webhook - Lead Webform",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -976,
        480
      ],
      "webhookId": "c5964162-2fbe-401e-9560-8def7e2b2493",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (Run once for all items)\n//\n// Purpose\n// -------\n// Prepare JSON payload for Odoo `crm.lead` create directly from the webhook.\n//\n// Expected input:\n// - 1 item from the webhook: { body: { firstname, lastname, email, phone, notes, ... } }\n//   (or fields at root-level)\n//\n// Output:\n// - 1 item: { name, contact_name, email_from, phone, description, type }\n\nfunction s(x) { return (x ?? '').toString().trim(); }\n\n// Get webhook payload (prefer body, fallback to root)\nconst payload = items[0].json.body ?? items[0].json;\n\nif (!payload) {\n  throw new Error('Webhook payload not found. Check the IF(false) branch connection.');\n}\n\n// Build full name\nconst first = s(payload.firstname);\nconst last  = s(payload.lastname);\nconst fullName = `${first} ${last}`.trim();\n\n// Build lead payload for Odoo\nconst out = {\n  name: fullName || s(payload.email) || 'New Lead',\n  contact_name: fullName,\n  email_from: s(payload.email),\n  phone: s(payload.phone),\n  description: s(payload.notes),\n  type: 'lead',\n};\n\nreturn [{ json: out }];\n"
      },
      "id": "e5e4e766-7990-49ab-98a4-e85f067fbdf5",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "position": [
        -512,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b237300d-ede0-445e-a769-0c86fc79c028",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -96,
        512
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "60ce05fd-ff94-4e59-9ebc-09c058b8f7fb",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.firstname }}",
              "rightValue": ""
            },
            {
              "id": "714cc2e5-e781-4fc2-a6af-af3e16a58d21",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.lastname }}",
              "rightValue": ""
            },
            {
              "id": "c09b99e1-faf0-44c4-a9e1-2d4192a61c9c",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.email }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "d95db29c-298b-471e-9a70-0c01a33668bd",
      "name": "Required data missing?",
      "type": "n8n-nodes-base.if",
      "position": [
        -752,
        432
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 400
        }
      },
      "id": "d70cccd6-936f-4eee-994f-a7c18131ae56",
      "name": "Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -528,
        368
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "queue": "leads",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        -304,
        512
      ],
      "id": "4cf839af-3b9b-434a-84c3-8994f948e109",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "2MyFwNdbhVgLVH6A",
          "name": "RabbitMQ account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Request": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required data missing?": {
      "main": [
        [
          {
            "node": "Bad Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Lead Webform": {
      "main": [
        [
          {
            "node": "Required data missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79d8a51d-4d77-4ecb-a6cd-0e53767f5b4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcc1015e148d2041df5d464cc6226cc333781f3ad19d823e20e7b42ce9b4abe3"
  },
  "id": "BypyvlGYfZS44gkW",
  "tags": []
}